{% load static %}
<div class="col-md-3 col-lg-3 d-none d-md-block sticky-sidebar">
  <div class="bg-white p-4 rounded-5 shadow-sm">
    <div class="text-center">
      {% if request.user.profile.profile_pic %}
        <img src="{{ request.user.profile.profile_pic.url }}" class="profile-avatar" alt="Profile">
      {% endif %}
      <h3 class="h5 fw-bold mb-0">{{ request.user.username }}</h3>
      <p class="small">{{ request.user.profile.bio|default:"No bio yet."|truncatechars:30 }}</p>
    </div>

    <div class="border-top pt-5 text-start px-3">
      <a href="/"
        hx-get="/"
        hx-target="#main-content-area"
        hx-push-url="true"
        class="d-flex align-items-center mb-3
              menu-item-link text-decoration-none text-black
              {% if request.path == '/' %}active{% endif %}"
      >
        <img class="menu-icon" src="{% static 'assets/home-24-outlined.svg' %}" alt="">
        <div class="fw-medium m-0 d-none d-lg-block">Home</div>
      </a>
      <a href="{% url 'user:profile_detail' request.user.username %}"
        hx-get="{% url 'user:profile_detail' request.user.username %}"
        hx-target="#main-content-area"
        hx-push-url="true"
        class="d-flex align-items-center mb-3
              menu-item-link text-decoration-none text-black
              {% if request.path == '/user/profile/'|add:request.user.username|add:'/' %}active{% endif %}"
      >
        <img class="menu-icon" src="{% static 'assets/user-circle-24-outlined.svg' %}" alt="">
        <div class="fw-medium m-0 d-none d-lg-block">Profile</div>
      </a>
      <a href="{% url 'post:feed_list' %}"
        hx-get="{% url 'post:feed_list' %}"
        hx-target="#main-content-area"
        hx-push-url="true"
        class="d-flex align-items-center justify-content-center justify-content-lg-start
              mb-3 menu-item-link text-decoration-none text-black
              "
      >
        <img class="menu-icon" src="{% static 'assets/grid-2x2-24-outlined.svg' %}" alt="">
        <div class="fw-medium m-0 d-none d-lg-block">Feeds</div>
      </a>
      <a href="{% url 'group:group_list' %}"
        hx-get="{% url 'group:group_list' %}"
        hx-target="#main-content-area"
        hx-push-url="true"
        class="d-flex align-items-center justify-content-center justify-content-lg-start
              mb-3 menu-item-link text-decoration-none text-black
              "
      >
        <img class="menu-icon" src="{% static 'assets/users-24-outlined.svg' %}" alt="">
        <div class="fw-medium m-0 d-none d-lg-block">Groups</div>
      </a>
    </div>

    <div class="text-start px-3 mt-4 border-top pt-3">
      <h3 class="h6 fw-bold mb-3">Followings</h3>

      <div id="following-list">
        {% for following in following_users %}
          <a href="{% url 'user:profile_detail' following.username %}"
            class="d-flex align-items-center mb-2 text-decoration-none text-black">
            {% if following.profile.profile_pic %}
              <img src="{{ following.profile.profile_pic.url }}" class="rounded-circle me-2 follower-avatar" alt="">
            {% else %}
              <img src="{% static 'assets/Group 8.png' %}" class="rounded-circle me-2 follower-avatar" alt="">
            {% endif %}
            <small class="m-0">{{ following.username }}</small>
          </a>
        {% empty %}
          <p class="text-muted small">You aren't following anyone yet.</p>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
