{% load static %}
<div class="mobile-bottom-nav d-md-none">
  <a href="/" class="mobile-nav-item text-decoration-none">
    <img src="{% static 'assets/home-24-outlined.svg' %}" alt="">
  </a>
  <a href="#" class="mobile-nav-item text-decoration-none">
    <img src="{% static 'assets/person-group-24-outlined.svg' %}" alt="">
  </a>
  <a href="#" class="mobile-nav-item text-decoration-none">
    <img src="{% static 'assets/heart-24-outlined.svg' %}" alt="">
  </a>
  <a href="#" class="mobile-nav-item text-decoration-none">
    <img src="{% static 'assets/user-circle-24-outlined.svg' %}" alt="">
  </a>
</div>
