{% load static %}

{% for post in posts %}
  <div class="bg-white rounded-5 p-3 mt-4 post-card">
    <div class="d-flex align-items-center py-2">
      <img src="{% static 'assets/Group 8.png' %}" alt="">
      <div class="ps-3">
        <h3 class="h5 mb-0">{{post.user.username}}</h3>
        <p class="text-muted small mb-0">{{post.created_at}}</p>
      </div>
    </div>

    <p>
      {{post.content}}
    </p>

    <div class="post-gallery">
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="post img" />
      {% endif %}
    </div>

    <div class="border-top d-flex mt-3 pt-2">
      <div class="px-2 d-flex align-items-center gap-1 cursor-pointer">
        6355 <img src="{% static 'assets/eye-24-outlined.svg' %}" alt="">
      </div>
      <div class="px-2 d-flex align-items-center gap-1 cursor-pointer">
        <img src="{% static 'assets/thumbs-up-24-outlined.svg' %}" alt="">
        Like
      </div>
      <div class="px-2 d-flex align-items-center gap-1 cursor-pointer">
        <img src="./static/assets/rocketchat-24-outlined.svg" alt="">
        Comment
      </div>
    </div>

    {% if page_obj.has_next and forloop.last %}

      <div class="text-center mt-4">
        <span
          hx-get="{% url 'core:home' %}?page={{ page_obj.next_page_number }}"
          hx-swap="beforeend"
          hx-target="#post-list"
          hx-select=".post-card"
          hx-trigger="revealed"
          hx-indicator="#spinner"
        >
        </span>
      </div>

    {% endif %}

  </div>
{% endfor %}
