{% load static %}

<form hx-post="{% url 'post:post_create' %}"
    hx-target="#post-list"
    hx-swap="afterbegin"
    hx-encoding="multipart/form-data"
    hx-on::after-request="if(event.detail.successful) {
        this.reset();
        document.getElementById('image-preview-container-home').innerHTML = '';
        selectedFiles = new DataTransfer(); // Reset the global file tracker
        document.getElementById('image-upload-home').files = selectedFiles.files;
    }"
    class="bg-white rounded-5 p-3 mb-4 shadow-sm">

    {% csrf_token %}
    <div class="d-flex align-items-center">
        {% if request.user.profile.profile_pic %}
            <img src="{{ request.user.profile.profile_pic.url }}" class="follower-avatar" alt="Profile">
        {% endif %}
        <textarea name="content" class="form-control-search" rows="1" placeholder="Share something..." required></textarea>
    </div>

    <div id="image-preview-container-home" class="mt-2 d-flex flex-wrap gap-2"></div>

    <div class="border-top d-flex justify-content-between pt-3 mt-3">
        <input type="file" name="images" accept="image/*" class="d-none" id="image-upload-home"
               multiple onchange="handleMultipleImagePreview(this, 'home')">

        <label for="image-upload-home" class="cursor-pointer">
            <img src="{% static 'assets/image-24-outlined.svg' %}" alt="Upload">
            <span class="ms-1 small text-muted">Add Photos</span>
        </label>
        <button type="submit" class="btn btn-primary fw-medium px-4">Send</button>
    </div>
</form>

<div class="d-flex justify-content-between pt-3 mt-4">
    <h3 class="h5 text-black">Feeds</h3>
    <div class="d-flex text-color-category">
        <h3 class="h5 fw-medium px-3">Recents</h3>
        <h3 class="h5 fw-medium">Friends</h3>
    </div>
</div>

<div id="post-list">
    {% include 'post/partials/post_list.html' %}
</div>

<div class="d-flex justify-content-center my-4">
    <div id="spinner" class="spinner-border htmx-indicator" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
