.text-color-category {
  color: #555555;
}

.post-images {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.single-post-images {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-gallery {
  display: grid;
  gap: 0.5rem;
  margin-top: 1rem;

  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--bs-border-radius-lg, 0.5rem);
  }

  &.two-image {
    grid-template-columns: repeat(2, 1fr);
  }

  &.one-image {
    grid-template-columns: 1fr;

    img {
      height: 400px;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    img {
      height: 250px;
    }

    &.one-image {
      grid-template-columns: 1fr;

      img {
        height: auto;
      }
    }
  }
}

.post-card {
    transition: all 0.3s ease;

    &.htmx-swapping {
        opacity: 0;
        transform: scale(0.95);
    }
}

.liked-icon {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(202deg) brightness(104%) contrast(97%);
}

.dropdown-menu {
  min-width: 150px;
  padding: 0.5rem;

  .dropdown-item {
    border-radius: $border-radius-sm;
    font-weight: 500;

    &:hover {
      background-color: #f8f9fa;
    }

    &:active {
      background-color: $primary;
      color: white;
    }
  }
}

.cursor-pointer {
    transition: opacity 0.2s;
    &:hover {
        opacity: 0.7;
    }
}
