.text-color-category {
  color: #555555;
}

.post-images {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.single-post-images {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-gallery {
  display: grid;
  gap: 0.5rem;
  margin-top: 1rem;

  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--bs-border-radius-lg, 0.5rem);
  }

  &.two-image {
    grid-template-columns: repeat(2, 1fr);
  }

  &.one-image {
    grid-template-columns: 1fr;

    img {
      height: 400px;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    img {
      height: 250px;
    }

    &.one-image {
      grid-template-columns: 1fr;

      img {
        height: auto;
      }
    }
  }
}
