.sticky-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.container-top {
  margin-top: 30px;
}